
.vs/Chess/v15/.suo
obj/Debug/Chess.csproj.CoreCompileInputs.cache
obj/Debug/Chess.exe
obj/Debug/Chess.pdb
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/Chess/v15/.suo
obj/Debug/Chess.csproj.FileListAbsolute.txt
.vs/Chess/v15/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
.vs/Chess/v15/Server/sqlite3/storage.ide
.vs/Chess/v15/Server/sqlite3/storage.ide-shm
.vs/Chess/v15/Server/sqlite3/storage.ide-wal
